$font-family-sans-serif: 'Open Sans', sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 800;

@import "~bootstrap";
@import "~bootstrap-vue";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');


